body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

img {
  display: block;
  margin-left : auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #126E82;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2;
  color: #126E82;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #126E82;
}

p {
  text-align: left;
}

hr {
  border-style: dotted none none none;
  width: 20%;
  border-width: 0.7rem;
  border-color: #126E82;
  opacity: 0.5;
}

.sub-title {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.buttom-cloud {
  position: absolute;
  left:20%;
  margin-top: 20px;
  bottom: 60%;
}

.mountain {
  width: 50%;
}

.top-container {
  /* background-color: #F8EDE3; */
  padding-top: 100px;
  background-color: #E4F9F5;
}

.profile-picture {
  border-radius: 50%;
  border: 5px solid black;
  width: 20rem;
}

.skill-row {
  width: 50%;
  margin: 7.5rem auto 7.5rem;
}

.skill-img-1 {
  width: 25%;
  margin-left: 0;
  float: left;
  margin-right: 2rem;
}

.skill-img-2 {
  width: 25%;
  margin-left: 2rem;
  float:right;
}


.middle-container {
  margin-top: 5rem;
}

.BUTTON_VXI {
   margin-top: 2rem;
   margin-bottom: 2rem;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #F2FFD0;
   font-family: Brush Script MT;
   font-size: 40px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_VXI:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 5rem;
}

.footer-link {
  color: #126E82;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.7rem;
}
